@page
@model Lagoon.Server.Areas.Identity.Account.ForgotPasswordModel
@using Lagoon.Helpers
@using Microsoft.AspNetCore.Mvc.ModelBinding

<div class="login-area row">
    <div class="area-appname  col-lg-6 col-12">
        <div class="app-name-version">
            <span class="app-name">@Model.ApplicationName</span>
            @if (@Model.ApplicationVersion != null)
            {
                <span class="app-version">v @Model.ApplicationVersion</span>
            }
        </div>
        <div id="brand-logo"></div>
    </div>
    <div class="area-login  col-lg-6 col-12">
        <h1 class="title-authent">@("lblResetPassword".Translate())</h1>
        @if (!Model.Completed)
        {
            <form id="account" method="post" asp-route-userLogin="@Model.UserLogin">
                <div class="form-group input-without-lbl">
                    <input asp-for="@Model.UserLogin" class="form-control" aria-required="true" placeholder="@($"lblLoginField".Translate())" />
                    <span asp-validation-for="@Model.UserLogin" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-login mt-5 mb-3 px-3 py-2" asp-page-handler="ResetPassword">@("btnResetPwd".Translate())</button>
            </form>
        }
        else
        {
            <form id="account" method="post" asp-route-userLogin="@Model.UserLogin">
                <p class="text-success">@("lblResetPasswordLinkSended".Translate())</p>
                <button type="submit" class="btn btn-primary btn-login mt-5 mb-3 px-3 py-2" asp-page-handler="ReturnLogin">@("btnReturnPwd".Translate())</button>
            </form>
        }
        </div>
</div>