@page
@model Lagoon.Server.Areas.Identity.Account.ResetPasswordModel

<div class="login-area row">
    <div class="area-appname  col-lg-6 col-12">
        <div class="app-name-version">
            <span class="app-name">@Model.ApplicationName</span>
            @if (@Model.ApplicationVersion != null)
            {
                <span class="app-version">v @Model.ApplicationVersion</span>
            }
        </div>
        <div id="brand-logo"></div>
    </div>
    <div class="area-login  col-lg-6 col-12">
        <h1 class="title-authent">
            @if (Model.IsUserAuthenticated)
            {
                @("lblUpdatePassword".Translate())
            }
            else
            {
                @("lblResetPassword".Translate())
            }
        </h1>
        @if (!Model.Complete)
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <input asp-for="UserId" type="hidden" />

                @if (Model.IsUserAuthenticated)
                {
                    <div class="form-group">
                        <input asp-for="ActualPassword" type="password" placeholder="@("lblActualPassword".Translate())" class="form-control form-login-input" />
                        <span asp-validation-for="ActualPassword" class="text-danger"></span>
                    </div>
                }

                <div class="form-group input-without-lbl">
                    <div>
                        <input asp-for="@Model.Password" class="form-control" aria-required="true" placeholder="@($"lblPwdField".Translate())" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group input-without-lbl">
                    <div>
                        <input asp-for="@Model.ConfirmPassword" class="form-control" aria-required="true" placeholder="@($"lblPwdField".Translate())" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-login mt-5 mb-3 px-3 py-2" asp-page-handler="NewPassword">@("btnUpdatePwd".Translate())</button>
            </form>
        }
        else
        {
            <form method="post">
                <p class="text-success">@("lblResetPwdSuccess".Translate())</p>
                <button type="submit" class="btn btn-primary btn-login mt-5 mb-3 px-3 py-2" asp-page-handler="ReturnLogin">@("btnReturnPwd".Translate())</button>
            </form>
        }
    </div>
</div>